<!DOCTYPE html>
<html>
  <head>
    <meta name="screen-orientation" content="portrait" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
    />
    <title>年会抽奖小程序</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/luckydraw.css" />
  </head>
  <body>
    <div id="app" class="wall" v-cloak>
      <!-- 标签云 -->
      <canvas :id="canvasId" :class="{mask: showResult}" :width="width" :height="height">
        <ul id="tags">
          <li v-for="item in member" :key="item.phone">
            <a href="#" :style="{color: winners.includes(getKey(item)) ? 'yellow' : 'white'}"> {{item.name}} </a>
          </li>
        </ul>
      </canvas>
      <!-- 在线人数 -->
      <div id="connections">
        <span>在线人数：{{connections}}</span>
      </div>
      <!-- 获奖名单 -->
      <div id="result-btn" v-show="showResultBtn">
        <span @click="showWinnerList = true">获奖名单</span>
      </div>
      <!-- 抽奖结果 -->
      <div id="result" v-show="showResult">
        <span v-for="item in currentWinner" :key="item.phone"> {{item.name}}<br />{{item.phone}} </span>
      </div>
      <!-- 获奖名单列表 -->
      <div id="list" v-show="showWinnerList" @click="showWinnerList = false">
        <div class="result-title">{{winnerList ? "获奖名单" : "暂无抽奖记录"}}</div>
        <template v-if="winnerList">
          <div class="result-list" v-for="key in Object.keys(winnerList).reverse()" :key="key">
            <div class="prize-name">{{key}}</div>
            <div v-for="item in winnerList[key]" :key="item.phone">
              <span>{{item.name}} {{item.phone}}</span>
            </div>
          </div>
        </template>
      </div>
      <!-- 操作栏 -->
      <div id="tools">
        <button
          v-for="item in prize"
          :key="item.name"
          class="pure-button"
          :class="{ 'button-error': currentPrize?.name === item.name}"
        >
          {{item.name}}({{item.quota}})
        </button>
      </div>
    </div>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/tagcanvas.min.js"></script>
    <script type="text/javascript" src="js/confetti.browser.min.js"></script>
    <script type="text/javascript" src="js/server.js"></script>
    <script type="text/javascript">
      const app = new Vue({
        el: "#app",
        data() {
          return {
            member: [],
            prize: [],
            currentPrize: null,
            showResult: false,
            currentWinner: [],
            winnerList: null,
            showWinnerList: false,
            socket: null,
            socketName: "ws://" + server.ip + ":" + server.port,
            connections: 0,
            canvasId: "ball",
            speed: [0.04, -0.06],
            width: document.body.offsetWidth,
            height: document.body.offsetHeight,
            showResultBtn: false,
          };
        },
        computed: {
          winners() {
            const list = [];
            if (this.winnerList) {
              Object.keys(this.winnerList).forEach((prizeName) => {
                this.winnerList[prizeName].forEach((memberItem) => {
                  list.push(this.getKey(memberItem));
                });
              });
            }
            return list;
          },
        },
        watch: {
          showResult(newVal, oldVal) {
            if (newVal) {
              requestAnimationFrame(this.fireworks);
            }
          },
          winnerList(newVal, oldVal) {
            // 保存名单(跨页面传输用)
            localStorage.setItem("winnerList", JSON.stringify(newVal));
            // 是否显示名单
            this.showResultBtn = Object.keys(newVal).length === this.prize.length;
            // 重载标签云
            this.$nextTick(() => {
              TagCanvas.Reload(this.canvasId);
            });
          },
        },
        created() {
          this.createSocket();
        },
        mounted() {},
        methods: {
          createSocket() {
            // 创建WebSocket实例，连接到指定的服务器地址
            const socket = new WebSocket(this.socketName);
            this.socket = socket;
            // 当连接成功打开时触发的事件
            socket.onopen = (event) => {
              console.log("WebSocket连接已打开");
              // 这里可以进行一些初始化操作，比如向服务器发送连接成功后的标识等
              this.send("tag", "slave");
              // 心跳
              setInterval(() => {
                this.send("ping");
              }, 50000);
            };
            // 当接收到服务器发送的消息时触发的事件
            socket.onmessage = (event) => {
              const message = JSON.parse(event.data);
              console.log("WebSocket收到消息", message.emit);
              switch (message.emit) {
                case "init":
                  this.init(message.data);
                  break;
                case "connections":
                  this.connections = message.data;
                  break;
                case "start":
                  this.start(message.data);
                  break;
                case "stop":
                  this.stop(message.data);
                  break;
                case "choosePrize":
                  this.choosePrize(message.data);
                  break;
                case "reset":
                  this.reset();
                  break;
              }
            };
            // 当连接出现错误时触发的事件
            socket.onerror = (error) => {
              console.log("WebSocket连接出错:", error);
              alert("WebSocket连接出错");
            };
            // 当连接关闭时触发的事件
            socket.onclose = (event) => {
              console.log("WebSocket连接已关闭");
              if (confirm("连接已断开，是否重连？")) {
                location.reload();
              }
            };
          },
          send(emit, data = null) {
            console.log("🚀 ~ send:", { emit, data });
            this.socket.send(JSON.stringify({ emit, data }));
          },
          getKey(item) {
            return item.name + "-" + item.phone;
          },
          fireworks() {
            function fire(particleRatio, opts) {
              confetti({
                ...{
                  origin: { y: 0.7 },
                },
                ...opts,
                particleCount: Math.floor(200 * particleRatio),
              });
            }
            fire(0.25, {
              spread: 26,
              startVelocity: 55,
            });
            fire(0.2, {
              spread: 60,
            });
            fire(0.35, {
              spread: 100,
              decay: 0.91,
              scalar: 0.8,
            });
            fire(0.1, {
              spread: 120,
              startVelocity: 25,
              decay: 0.92,
              scalar: 1.2,
            });
            fire(0.1, {
              spread: 120,
              startVelocity: 45,
            });
          },
          // 初始化
          init({ member, prize, currentPrize, showResult, currentWinner, winnerList, running }) {
            this.member = member;
            this.prize = prize;
            this.currentPrize = currentPrize;
            this.showResult = showResult;
            this.currentWinner = currentWinner;
            this.winnerList = winnerList;
            // this.$nextTick中的回调函数就会在 DOM 更新后执行
            this.$nextTick(() => {
              TagCanvas.Start(this.canvasId, "tags", {
                textColour: null,
                textHeight: 14,
                initial: this.speed,
                // 禁用所有鼠标事件
                noMouse: true,
              });
              // 恢复状态
              if (running === true) {
                TagCanvas.SetSpeed(
                  this.canvasId,
                  this.speed.map((item) => item * 100)
                );
              }
            });
            // 清除历史记录
            if (winnerList === null && localStorage.getItem("winnerList")) {
              localStorage.removeItem("winnerList");
            }
          },
          // 开始抽奖
          start({ currentWinner, showResult }) {
            this.currentWinner = currentWinner;
            this.showResult = showResult;
            TagCanvas.SetSpeed(
              this.canvasId,
              this.speed.map((item) => item * 100)
            );
          },
          // 停止抽奖
          stop({ currentWinner, showResult, winnerList }) {
            this.currentWinner = currentWinner;
            this.showResult = showResult;
            this.winnerList = winnerList;
            TagCanvas.SetSpeed(this.canvasId, this.speed);
          },
          // 选择奖项
          choosePrize({ currentPrize, showResult }) {
            this.currentPrize = currentPrize;
            this.showResult = showResult;
          },
          // 重置
          reset() {
            localStorage.clear();
            location.reload();
          },
        },
      });
    </script>
  </body>
</html>
