html,
body {
  width: 100%;
  height: 100%;
}

.wall {
  width: 100%;
  height: 100%;
  background-image: url(../img/icon-wall.jpg);
  overflow: hidden;
  background-color: #121936;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#app {
  position: relative;
}

#connections {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 30px;
  color: white;
}

#result-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  text-align: right;
  margin-right: 30px;
}

#result-btn > span {
  color: #4de7c8;
  cursor: pointer;
}

/* 抽奖结果 */
#result {
  position: absolute;
  height: 60%;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0px 20px;
  scrollbar-width: none; /* Firefox */
  -webkit-scrollbar-width: none; /* Webkit */
  z-index: 99;
}

#result span {
  display: inline-block;
  background: #fff;
  font-size: 25px;
  line-height: 30px;
  color: #000;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

#result span:hover {
  color: #4de7c8;
  background-color: #062c51;
}

/* 获奖名单 */
#list {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-image: url(../img/icon-wall.jpg);
  background-color: #121936;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 999;
}

#list::-webkit-scrollbar {
  display: none;
}

#list .result-title {
  text-align: center;
  color: #4de7c8;
  font-size: 45px;
  font-weight: bold;
  margin-top: 100px;
  font-family: "幼圆";
}

#list .result-list {
  text-align: center;
  color: #4de7c8;
  font-size: 25px;
  line-height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "幼圆";
}

#list .prize-name {
  font-size: 35px;
  font-weight: bold;
  color: #ff0000;
}

#list span:hover {
  font-weight: bold;
}

/* 工具栏 */
#tools {
  position: absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;
  text-align: right;
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.pure-button {
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  font-size: 100%;
  color: rgba(0, 0, 0, 0.8);
  border: 0 rgba(0, 0, 0, 0);
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.pure-button:disabled {
  cursor: not-allowed;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
  background: rgb(28, 184, 65);
}
.button-error {
  background: rgb(202, 60, 60);
}
.button-warning {
  background: rgb(223, 117, 20);
}
.button-secondary {
  background: rgb(66, 184, 221);
}

.mask {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

[v-cloak] {
  display: none;
}
